body {
    background-image: url(cafe-image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    /* background-attachment: fixed; */
    font-family: 'Merienda', cursive, sans-serif;;
    padding: 20px;
}

h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

h2 {
    font-size: 30px;
}

.established {
    font-style: italic;
}

h1,
h2,
p {
    text-align: center;
}

.menu {
    width: 80%;
    background-color: rgb(131 54 28 / 73%);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 500px;
    border-radius: 10px;
    backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
    z-index: -1;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 55px;
    width: 55px;
    margin-top: -10px;
}

hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}

.bottom-line {
    margin-top: 25px;
}

h1,
h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.flavor,
.dessert {
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
    font-family: sans-serif;
}

/* FOOTER */

footer {
    font-size: 14px;
}

.address {
    margin-bottom: 5px;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: brown;
}

a:active {
    color: brown;
}

/* footer code  */
